# Abaikan library dan config di folder backend
backend/node_modules/
backend/.env

# Abaikan library di folder frontend (jika nanti ada)
frontend/node_modules/

# File sampah sistem
.DS_Store
Thumbs.db

# private key untuk service account (jangan pernah di-commit ke repositori)
serviceAccountKey.json